<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <%- assets.join("\n    ").trim() %>
  </head>
  <body>
    <nav id="nav">
      <a href="/" title="Home"><svg viewBox="2 2 20 20"><use href="/assets/icons/home.svg#icon" /></svg></a>
      <name><%= title %></name>
      <%- indent(buttons.join("\n"), 6) %>
    </nav>

    <main id="main">
      <%- indent(body, 6).trim() %>
    </main>
  </body>
</html>